<app-search
  [countries]="receivedData"
  (updateCountry)="updateCountry($event)"
></app-search>

<div *ngIf="global" class="container global-container responsive-table">
  <div class="table-title">
    <h2>Situation by Country {{ this.sortBy }}</h2>
  </div>
  <table class="table">
    <thead>
      <tr class="cases">
        <th (click)="toggleSort('name')">
          <span> Name </span>
          <span class="sortIcon" *ngIf="!nameSortAsc && sortBy == 'name'">
            <app-svg-desc> </app-svg-desc>
          </span>
          <span class="sortIcon" *ngIf="nameSortAsc && sortBy == 'name'">
            <app-svg-asc></app-svg-asc>
          </span>
        </th>
        <th (click)="toggleSort('casesTotal')">
          <span>Cases - cumulative <br />total</span>
          <span
            class="sortIcon"
            *ngIf="sortCasesCumulativeDesc && sortBy == 'casesTotal'"
          >
            <app-svg-desc> </app-svg-desc>
          </span>
          <span
            class="sortIcon"
            *ngIf="!sortCasesCumulativeDesc && sortBy == 'casesTotal'"
          >
            <app-svg-asc></app-svg-asc>
          </span>
        </th>
        <th (click)="toggleSort('casesNew')">
          <span
            >Cases - in the last<br />
            24 hours</span
          >
          <span
            class="sortIcon"
            *ngIf="sortNewCasesDesc && sortBy == 'casesNew'"
          >
            <app-svg-desc> </app-svg-desc>
          </span>
          <span
            class="sortIcon"
            *ngIf="!sortNewCasesDesc && sortBy == 'casesNew'"
          >
            <app-svg-asc></app-svg-asc>
          </span>
        </th>
        <th (click)="toggleSort('deathsTotal')">
          <span>
            Deaths - cumulative <br />
            total
          </span>
          <span
            class="sortIcon"
            *ngIf="sortDeathsTotalDesc && sortBy == 'deathsTotal'"
          >
            <app-svg-desc> </app-svg-desc>
          </span>
          <span
            class="sortIcon"
            *ngIf="!sortDeathsTotalDesc && sortBy == 'deathsTotal'"
          >
            <app-svg-asc></app-svg-asc>
          </span>
        </th>
        <th (click)="toggleSort('newDeaths')">
          <span> Deaths - in the last 24 hours </span>
          <span
            class="sortIcon"
            *ngIf="sortNewDeathsDesc && sortBy == 'newDeaths'"
          >
            <app-svg-desc> </app-svg-desc>
          </span>
          <span
            class="sortIcon"
            *ngIf="!sortNewDeathsDesc && sortBy == 'newDeaths'"
          >
            <app-svg-asc></app-svg-asc>
          </span>
        </th>
      </tr>
      <tr class="global-stats">
        <th>Global</th>
        <th>{{ global.TotalConfirmed | number }}</th>
        <th>{{ global.NewConfirmed | number }}</th>
        <th>{{ global.TotalDeaths | number }}</th>
        <th>{{ global.NewDeaths | number }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of countries; index as i">
        <td>
          <span>
            <img
              src="https://www.countryflags.io/{{ c.CountryCode }}/flat/24.png"
              alt=""
            />
            {{ c.Country }}</span
          >
        </td>
        <td>
          <span>
            {{ c.TotalConfirmed | number }}
          </span>
        </td>
        <td>
          <span>
            {{ c.NewConfirmed | number }}
          </span>
        </td>
        <td>
          <span>
            {{ c.TotalDeaths | number }}
          </span>
        </td>
        <td>
          <span>
            {{ c.NewDeaths | number }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
